.visorSlider{
	position: relative;
	overflow: hidden;
}
#destacados{
	background-color: var(--color3);
}

#destacados>div>div>div h1{
	text-align: center;
	font-size: 40px;
}

.sliderContent{
	position: relative;
	display: flex;
	flex-direction: row;
	height: 400px;
	gap: 57px;
	transition: all .3s ease;
	padding-top: 10px;
	padding-bottom: 10px;
}
.slide{
	overflow: hidden;
	width: 30%;
	min-width: 30%;
	height: 100%;
	border: 2px solid var(--color4);
	border-radius: 1rem;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	
}
.slide:hover{
	cursor: pointer;
}

.imgDest{
	height: 70%;
	background-size: cover;
}
.decDest{
	height: 30%;
}

.decDest>div>h3,.decDest>div>h2{
	width: 100%;
	text-align: center;
}

.controlSlider{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:100px;
}
#ctrlIzq{
	width: 34px;
	aspect-ratio: 1/1;
	background-image: url(../source/321-arrow-left2.png);
	background-size: cover;
}
#ctrlDer{
	width: 34px;
	aspect-ratio: 1/1;
	background-image: url(../source/317-arrow-right2.png);
	background-size: cover;
}

.controlSlider>div:focus{
	background-color: var(--color4);
}

@media (max-width: 820px){
	.slide{
		min-width: 46%;
		border: 1px solid var(--color4);
	}
	#destacados{
		background-color: var(--color3);
	}

}
@media (max-width: 480px){
	.slide{
		min-width: 100%;
		border: 1px solid var(--color4);
	}
	#destacados{
		background-color: var(--color3);
	}
}