:root{
	/*--border: 1px solid red;*/
	/*--fondoF: #9DDB89FF;
	--fondoC: #DADC74FF;*/
	--color1: #000000;
	--color2:#14213d;
	--color3: #fca311;
	--color4: #e5e5e5;
	--color5: #ffffff;
	--iconSize1: 50px;
	--iconSize2: 100px;
	--altoSection: 450px;
	--fuentePrimary:'Rubik', sans-serif;
	
}
*{
	font-family: var(--fuentePrimary);
}
body{
	margin:0;
}
.conteinerRow{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 86%;
	margin-left: 7%;
	border: var(--border);
}
.row{
	display: flex;
	width: 99.2%;
	flex-direction: row;
	justify-content: space-between;
	border: var(--border);
	background-color: var(--fondoF)

}
.c1{
	position: relative;
	float: left;
	width: 20%;
	min-width: 20%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: var(--fondoC);
}
.c2{
	position: relative;
	float: left;
	width: 46.1%;
	min-width: 46.1%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: var(--fondoC);
}
.c3{
	
	position: relative;
	float: left;
	width: 72.15%;
	min-width: 72.15%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: var(--fondoC);
}
.c4{
	position: relative;
	float: left;
	width: 98.2%;
	min-width: 98.2%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: var(--fondoC);
}
section{
	margin-top: 100px;
	
	border: var(--border);
}
.anchoCompleto{
	width: 100% !important;
}

/* MEDIA QUERY */
@media (max-width: 1400px) and (min-width: 1121px){
   
}

@media (max-width: 1120px) and (min-width: 993px) {

}

@media (max-width: 992px) and (min-width: 769px){
	.row{
   		display: block;
   	}
	.c1,.c2{
		min-width: 46.8%;
	}
	.c3,.c4{
		min-width: 97%;
	}
  
}

@media (max-width: 768px) and (min-width: 577px){
	.conteiner{
		display: none;
	}
   	.row{
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width: 96.5%;
    }

}

@media (max-width: 576px) and (min-width: 481px){
  
}

/*CELULARES*/
@media (max-width: 480px) and (min-width: 401px){
   .conteiner{
		display: none;
	}
   	.row{
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width: 93.5%;
    }

}

@media (max-width: 400px) and (min-width: 361px) {
	.conteiner{
		display: none;
	}
   	.row{
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width:93.5%;
    }
}

@media (max-width: 360px) {
  .conteiner{
		display: none;
	}
   	.row{
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width: 93.5%;
    }
}

@media (min-width: 1200px) {
   
}