.bannerPrincipal{
	width: 100%;
	height: 150px;
	border-bottom: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bannerPrincipal h1{
	background-color: cyan;
	margin: 0;
}
.bannerPrincipal>div>div>div{
	display: flex;
	flex-direction: row;
	align-items:   center;
	justify-content: center;
}
.buscar{
	height: 30px; 
}
.iconBuscar{
	width: 30px;
	margin-right: 5px;
}
.barraNavegacion{
	position: relative;
	width: 100%;
	height: 70px;
	
}
.barraNavegacion>div>div>div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.barraNavegacion>div>div{
	justify-content: center;
}
.barraNavegacion a {
	text-decoration: none;
	color: black;
}

.flayerPrincipal{
	width: 100%;
	height: 400px;
	background-color: orange;
}
.flayerPrincipal>div>div{
	height: 400px;
}
.fotoFly{
	max-height: 97.5%;
	overflow: hidden;
	border-radius: 5px;
	
}
.fotoFly>img{
	position: relative;
	width: 100%;
	margin-top: -50px;
}
.textFly>h1{
	position: relative;
	font-weight: bold;
}
.textFly>p{
	position: relative;
	margin-top: 50px;
}