@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}

.img_usuarios {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
  }


 main section:nth-child(1){
 	margin-top: 50px;
 }

 .img-prog{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
 }
 