.wizardView {
	overflow: hidden;
	


}
.wizardSlider{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	transition: all .3s ease;
	gap:10px;
}
.wizardSlider>div{
	width: 100%;
	min-width: 100%;
	
	
	
}

.selPrenda{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.selected{
	filter: drop-shadow(3px 3px 4px blue);
	/*box-shadow: 2px 2px 10px blue;*/
}
.centerContentR{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.opcionesColores{
	background-position: center;
	background-size: content;
	background-repeat: no-repeat;
}
#selectorDeColor{
	overflow-y: auto;
}
#estampados{
	height: 300px;
	gap: 1%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: auto;

}
.est{
	width: 233px;
	height: 300px;
	border: 1px solid green;
	background-size: cover;
	background-position: center;
	
}
#resultado{
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#resultado>.est{
	border:none;
}

@media (max-width: 820px){
	#selectorDeColor{
		height: 300px;
	}
}

@media (max-width: 480px){

}